

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.hidden-content
{
	display:none;
}

.centered-medalion
{
	display: block; 
	margin-left:auto; 
	margin-right:auto;
	border-radius: 70%;
}












